# Dependencies
node_modules/

# Environment variables
.env

# Generated PDFs & Uploads
generated-pdfs/
uploads/
*.pdf

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
